@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}
:root {
	--clr: #e7e7e7;
}
body {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	background: var(--clr);
}
.main {
	background-color: #e7e7e7;
	width: 100%;
	height: calc(100vh - 76px);
	border-bottom: 6px solid #e7e7e7;
	padding-bottom: 32px;
}

.contents {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100vh - 76px);
}

.content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.2s;
	text-align: center;
}
.content h1 {
	line-height: calc(100vh - 76px);
}
.content.target {
	opacity: 1;
}
.navigation {
	position: relative;
	width: 100%;
	height: 70px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
.navigation ul {
	display: flex;
	width: 350px;
}
.navigation ul .list {
	position: relative;
	list-style: none;
	width: 70px;
	height: 70px;
	z-index: 1;
	cursor: pointer;
}
.navigation ul .list a {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
}
.navigation ul .list a span.icon {
	position: relative;
	display: block;
	line-height: 75px;
	font-size: 1.5em;
	text-align: center;
	transition: 0.5s;
	color: var(--clr);
}
.navigation ul .list a span.icon i {
	text-shadow: 0 0 3px rgba(255, 255, 255, 1);
}
.navigation ul .list.active a span.icon {
	transform: translate3d(0, -35px, 0);
}
.navigation ul .list a span.text {
	position: absolute;
	font-size: 0.75em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	opacity: 0;
	font-weight: bold;
}
.navigation ul .list.active a span.text {
	opacity: 1;
	transform: translate3d(0, 10px, 0);
}

.indicator {
	position: absolute;
	top: -50%;
	width: 70px;
	height: 70px;
	background-color: white;
	background-image: linear-gradient(
		153deg,
		rgba(210, 105, 30, 0.5) 0%,
		rgba(206, 169, 66, 0.5) 50%,
		rgba(34, 139, 34, 0.5) 100%
	);
	border-radius: 50%;
	border: 6px solid var(--clr);
	transition: 0.5s;
}

.indicator::before {
	content: '';
	position: absolute;
	top: 50%;
	left: -22px;
	width: 20px;
	height: 20px;
	background: transparent;
	border-top-right-radius: 20px;
	box-shadow: 1px -6px 0 0 var(--clr);
}
.indicator::after {
	content: '';
	position: absolute;
	top: 50%;
	right: -22px;
	width: 20px;
	height: 20px;
	background: transparent;
	border-top-left-radius: 20px;
	box-shadow: -1px -6px 0 0 var(--clr);
}

.navigation ul .list:nth-child(1).active ~ .indicator {
	transform: translateX(calc(70px * 0));
}
.navigation ul .list:nth-child(2).active ~ .indicator {
	transform: translateX(calc(70px * 1));
}
.navigation ul .list:nth-child(3).active ~ .indicator {
	transform: translateX(calc(70px * 2));
}
.navigation ul .list:nth-child(4).active ~ .indicator {
	transform: translateX(calc(70px * 3));
}

.fa-cookie-bite,
.cookie {
	color: chocolate;
}
.fa-carrot,
.carrot {
	color: rgb(255, 145, 0);
}
.fa-gift,
.gift {
	color: tomato;
}
.fa-kiwi-bird,
.kiwi {
	color: forestgreen;
}
